/* blog only */
.posts {padding-left: 0;}
.posts li {
  padding: .5em;
  display:inline-block;
  vertical-align: middle;
  text-align: center;
  margin:3px;
  width:95%; 
  height:auto;
  border:.3em solid var(--header-anchor-color);
}

.posts li a {
    font-family: Georgia, Helvetica;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    color: var(--font-color);
}

.slim {
    width:45%;
    height:4em;
}