/* blog only */

.posts {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 0;
}
@media (min-width: 720px) {
  .posts {
    grid-template-columns: 1fr 1fr;
  }
  .card-text {
  min-height: 110px;
  }
  .card-title {
    min-height: 90px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1em;
  text-align: center;
  border-radius: 8px;
}

.card-body {
  padding: 16px;
  text-align: center;
}

.card-title {
    text-align: center;
    border-bottom: 3px solid var(--wiki-bkg-color-hover);
}

.card-title a {
    font-family: Georgia, Helvetica;
    font-size: 1.2em;
    line-height: 1em;
    font-weight: bold;
}

.btn {
  border: none;
  outline: 0;
  display: inline-block;
  margin: 0;
  padding: 8px 8px;
  vertical-align: middle;
  text-decoration: none;
  color: white;
  background-color: #000;
  text-align: center;
  width: 80%;
  border-radius: 4px;
}