/* blog only */

.posts {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 0;
}
@media (min-width: 720px) {
  .posts {
    grid-template-columns: 1fr 1fr;
  }
}

.posts li {
  padding: .6em;
  vertical-align: middle;
  margin: .2em;
  text-align: center;
  list-style: none;
  color: var(--bkg);
  background-color: var(--header-anchor-color);
 
}

.posts li a {
    font-family: Georgia, Helvetica;
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;
    color: var(--bkg);
}

.posts li a:hover {border-bottom: 3px solid var(--bkg);}

.posts li p, li span { color: var(--bkg);}