:root {
  --bkg: #fefefe;
  --font-color: #191919;
  --header-anchor-color: #034659;
  --anchor-bottom-color: #4dd8ff;
  --anchor-only-color: #035a73;
  --wiki-bkg-color-hover: #036e8c;
  --heading-underline-color: rgba(0,0,0,.3);
  --quote-bkg: #f7f7f7;
  --absolute-bkg-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
      --bkg: #191919;
      --font-color: #fefefe;
      --header-anchor-color: #96abb4;
      --anchor-bottom-color: #4dd8ff;
      --anchor-only-color: #dbe2e6;
      --wiki-bkg-color-hover: #75909c;
      --heading-underline-color: rgba(255,255,255,.3);
      --quote-bkg: #383838;
      --absolute-bkg-color: #000000;
    }
}
[data-theme="dark"] {
      --bkg: #191919;
      --font-color: #fefefe;
      --header-anchor-color: #b9c6cd;
      --anchor-bottom-color: #4dd8ff;
      --anchor-only-color: #dbe2e6;
      --wiki-bkg-color-hover: #75909c;
      --heading-underline-color: rgba(255,255,255,.3);
      --quote-bkg: #383838;
      --absolute-bkg-color: #000000;
}

body {
    margin: 2em auto;
    background-color: var(--bkg);
    width: 70%;
    text-rendering: optimizeSpeed;
}

p, a, ul li, ol li, tbody, thead {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.2em;
    line-height: 1.75;
    color: var(--font-color);
}

p {margin-bottom: 1.2em; margin-top:0px;}

p a, ul li a {
    text-decoration: none;
    font-size: 1em;
    border-bottom: 3px solid var(--anchor-bottom-color);
}

p a:hover, ul li a:hover {
    border-bottom: 3px solid var(--font-color);
}

h1, h1 a {
    font-size: 2.2em;
    text-align: center;
    line-height: 1.4em;
}

h2 a, h3 a {
    text-decoration: none;
}

h2 a:hover, h3 a:hover {
    text-decoration: underline;
}

h2, h3, h2 a, h3 a, h1, h1 a{
    font-family: 'Helvetica', Verdana;
}
h2, h2 a {
    font-size: 1.4em;
    line-height: 1.5;
}
h3, h3 a {
    font-size: 1.2em;
    line-height: 1.5;}
h1,h2,h3, h1 a, h2 a, h3 a {
    font-weight: bold;
    color:var(--anchor-only-color);
}

footer {
    border-top: 1px solid var(--header-anchor-color);
    font-size: .8em;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
}
footer ul li {margin-right: 1em;}
footer a {
    text-decoration: none;
    border-bottom: none;
    color: var(--header-anchor-color);
}

nav ul li a, footer ul li a {border-bottom: none;}
nav ul li a:hover, footer ul li a:hover {
    border-bottom: none;
    text-decoration: underline;
}

nav {
    text-align: center;
}

nav a {
    padding: 0.5em;
    color: var(--header-anchor-color);
    text-decoration: none;
    border-bottom: none;}

strong { font-weight: bolder;}

hr {width: 100%;}

.footer-img {
    height: 1em;
    width: 1em;
    display: inline;
}

.head-banner {
    padding-left: .5em;
    padding-bottom: .1em;
    display: block;
    text-align: center;
    border-bottom: 2px dashed var(--header-anchor-color);
}

.head-banner p {
    text-align: center;
    color: var(--header-anchor-color);
    padding: 0px;
    margin: 0px;
    font-size: 2em;
    text-decoration: none;
    font-family: 'Georgia';
    font-weight: bold;
}

@media only screen and (max-width: 500px) {
  nav ul li {display:inline-block; margin-bottom:0.8em; width: 45%;
    background-color: var(--header-anchor-color);
    padding: .2em; border-radius: 5%;}
  nav ul {width: 100%;}
  nav a {padding: 0; color: var(--absolute-bkg-color)}
  .head-banner p {font-size: 1.5em;}
  .head-banner {text-align: center;}
  h1 { font-size: 1.8em;
    line-height: normal;}
}
.posts {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 0;
}
@media (min-width: 720px) {
  .posts {
    grid-template-columns: 1fr 1fr;
  }
}
body {width: 80%;}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1em;
  text-align: center;
  border-radius: 8px;
  border: solid 1px var(--heading-underline-color);
}

.card-body {
  padding: 16px;
}

.card-title a {
    font-family: Georgia, Helvetica;
    font-size: 1.2em;
    line-height: 1em;
    font-weight: bold;
}

.btn {
  border: solid 1px var(--heading-underline-color);
  outline: 0;
  display: inline-block;
  margin: 0;
  padding: 8px 8px;
  text-decoration: none;
  color: white;
  background-color: #000;
  width: 80%;
  border-radius: 4px;
}

.btn:hover {
  text-decoration: underline;
  background-color: #333;
}