body {
    margin: 60px auto;
    background-color: #FFFFFF;
    width: 70%;
}

p, a, ul li {
    font-family: 'Lato', 'Helvetica', Verdana;
    font-size: 1.1rem;
    line-height: 1.75;
    color: #000;
}

a {
    text-decoration: none;
    color: #0C6291;
}
a:hover {
    color: #7E1946;
    text-decoration: underline;
}

h1, h1 a {
    font-size: 3em;
    font-family:'Lato', cursive, 'Helvetica', 'Arial', 'Sans-Serif';
}

h2, h3, h2 a, h3 a {
    font-family: 'Lato',  cursive, Verdana;
}
h2, h2 a {font-size: 2.7rem;}
h3, h3 a {
    font-weight: bolder;
    font-size: 1.9rem;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 1.5;}
h1,h2,h3, h1 a, h2 a, h3 a {
    position: relative;
    color:#0C6291;
}
footer {
    border-top: 1px solid #7E1946;
    font-size: .8em;
}

nav {
color: #7E1946;
border-bottom:2px dashed #A63446;
}

nav ul, footer ul {
    font-family:'Roboto','Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    color: #7E1946;
    display: inline;
    margin-right: 20px;
}
nav a, footer a {
    text-decoration: none;
    color: #7E1946;
}
strong { font-weight: bolder;}

.wiki-item {
  border-radius: 25%;
  background-color: #cfebfb;
  padding: 10px;
  display:inline-block;
  margin:3px;
}
.wiki-item:hover {
  background-color:#E1F3FB;
}
img { height:70%; width:70%;}
blockquote p {color:#7E1946; font-family: Courier, 'Lato' }

a.moveLeft{
    position: absolute;
    left: -5%;
    display: inline; 
}
a.backButton{
  position:fixed; 
  top:90%;
  right: 5%;
}