:root {
  --bkg: #FFFDFB;
  --font-color: #24272B;
  --header-anchor-color: #6E8DD5;
  --anchor-hover-color: #c34;
  --wiki-bkg-color-hover: #eee;
}

body {
    margin: 60px auto;
    background-color: var(--bkg);
    width: 70%;
}

p, a, ul li, ol li {
    font-family: 'Helvetica', Verdana;
    font-size: 1.1em;
    line-height: 1.75;
    color: var(--font-color);
}

p a, ul li a, h2 a, h3 a {
    text-decoration: none;
    font-size: 1em;
    border-bottom: 3px solid var(--header-anchor-color);
}

p a:hover, ul li a:hover, h2 a:hover, h3 a:hover {
    border-bottom: 3px dashed var(--header-anchor-color);
}

h1, h1 a {
    font-size: 2.2em;
    text-align: center;
    line-height: 2.2em;
}

h2, h3, h2 a, h3 a, h1, h1 a{
    font-family: 'Georgia','Helvetica', Verdana;
}
h2, h2 a {
    font-size: 1.4em;
    line-height: 1.5;
}
h3, h3 a {
    font-size: 1.2em;
    line-height: 1.5;}
h1,h2,h3, h1 a, h2 a, h3 a {
    font-weight: bold;
    position: relative;
    color:var(--header-anchor-color);
}
footer {
    border-top: 1px solid var(--anchor-hover-color);
    font-size: .8em;
}

nav {
border-bottom:2px dashed var(--anchor-hover-color);
}

nav ul, footer ul {
    font-family:'Roboto','Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
nav a, footer a {
    text-decoration: none;
    border-bottom: none;
    color: var(--anchor-hover-color);
}

nav ul li a, footer ul li a {border-bottom: none;}
nav ul li a:hover, footer ul li a:hover {
    border-bottom: none;
    text-decoration: underline;
}
strong { font-weight: bolder;}

.footer-img {
    height: 1em;
    width: 1em;
    display: inline;
}