:root {
  --bkg: #fefefe;
  --font-color: #191919;
  --header-anchor-color: #023d49 /*#191919*/;
  --anchor-bottom-color: #02c9da;
  --anchor-only-color: #025b73;
  --wiki-bkg-color-hover: #124d59;
}

body {
    margin: 2em auto;
    background-color: var(--bkg);
    width: 70%;
    text-rendering: optimizeSpeed;
}

p, a, ul li, ol li {
    font-family: 'Helvetica', Verdana;
    font-size: 1.2em;
    line-height: 1.75;
    color: var(--font-color);
}

p {margin-bottom: 1.2em;}

p a, ul li a {
    text-decoration: none;
    font-size: 1em;
    border-bottom: 3px solid var(--anchor-bottom-color);
}

p a:hover, ul li a:hover {
    border-bottom: 3px solid var(--font-color);
}

h1, h1 a {
    font-size: 2.2em;
    text-align: center;
    line-height: 1.4em;
}

h2 a, h3 a {
    text-decoration: none;
}

h2 a:hover, h3 a:hover {
    text-decoration: underline;
}

h2, h3, h2 a, h3 a, h1, h1 a{
    font-family: 'Georgia','Helvetica', Verdana;
}
h2, h2 a {
    font-size: 1.4em;
    line-height: 1.5;
}
h3, h3 a {
    font-size: 1.2em;
    line-height: 1.5;}
h1,h2,h3, h1 a, h2 a, h3 a {
    font-weight: bold;
    color:var(--anchor-only-color);
}

footer {
    border-top: 1px solid var(--header-anchor-color);
    font-size: .8em;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
}
footer ul li {margin-right: 1em;}
footer a {
    text-decoration: none;
    border-bottom: none;
    color: var(--header-anchor-color);
}

nav ul li a, footer ul li a {border-bottom: none;}
nav ul li a:hover, footer ul li a:hover {
    border-bottom: none;
    text-decoration: underline;
}

nav {
    text-align: center;
}

nav a {
    padding: 0.5em;
    color: var(--header-anchor-color);
    text-decoration: none;
    border-bottom: none;}

strong { font-weight: bolder;}

.footer-img {
    height: 1em;
    width: 1em;
    display: inline;
}

.head-banner {
    padding-left: .5em;
    padding-bottom: .1em;
    display: block;
    text-align: center;
    border-bottom: 2px dashed var(--header-anchor-color);
}

.head-banner p {
    text-align: center;
    color: var(--header-anchor-color);
    padding: 0px;
    margin: 0px;
    font-size: 2em;
    text-decoration: none;
    font-family: 'Georgia';
    font-weight: bold;
}

@media only screen and (max-width: 500px) {
  nav ul li {display:inline-block; margin-bottom:0.8em; width: 45%;
    background-color: var(--header-anchor-color);
    padding: .2em; border-radius: 5%;}
  nav ul {width: 100%;}
  nav a {padding: 0; color: #ffffff}
  .head-banner p {font-size: 1.5em;}
  .head-banner {text-align: center;}
  h1 { font-size: 1.8em;
    line-height: normal;}
}/* blog only */

.posts {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 0;
}
@media (min-width: 720px) {
  .posts {
    grid-template-columns: 1fr 1fr;
  }
}

.posts li {
  padding: .6em;
  vertical-align: middle;
  margin: .2em;
  text-align: center;
  list-style: none;
  color: var(--bkg);
  background-color: var(--header-anchor-color);
 
}

.posts li a {
    font-family: Georgia, Helvetica;
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.posts li a:hover {border-bottom: 3px solid var(--bkg);}

.posts li p, li span { color: var(--bkg);}