/* posts only */
body {width: 90%;}
.meta {font-style:italic; text-align: center;}

.container {
  display: grid;
  grid-template-columns:
    1fr
    min(90ch, 100%)
    1fr;
}
.container > * {
  grid-column: 2;
}
.full-bleed {
  padding-left: 5%;
  width: 90%;
  grid-column: 1 / 4;
  max-width: 90%;
}

.wide-eighty {
  padding-left: 10%;
  width: 80%;
  grid-column: 1 / 4;
  max-width: 80%;
}

.unbounded {
  max-width: none;
  margin-bottom: 1em;
}

img { max-width: 512px;
  width: 95%; height: auto; margin-left: auto;
  margin-right: auto; display: block; text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}


blockquote {
  width:85%;
  margin:1em;
  font-family: Open Sans;
  font-style: italic;
  color: var(--font-color);
  font-size: 1.05em;
  background:var(--quote-bkg);
  padding: .7em 1em .7em 1em;
  border: 1px solid #ccc;
  border-left: 5px solid var(--anchor-only-color);
  position: relative;
}

blockquote p {margin-top: 0; margin-bottom: 0;}

blockquote::after{
  content: '';
}

pre, code {background-color: #444; color: #fff; font-family: Verdana; padding: 4px; border-radius: 2px; line-height: 1.75; font-size: .9em;}

h2, h3 {
    padding-bottom: .3em;
    padding-top: .6em;
    border-bottom: 3px solid var(--heading-underline-color);}
