/* posts only */
.meta {font-style:italic; text-align: center;}

.abstract {background-color:var(--wiki-bkg-color-hover);
border:2px solid;
font-style:italic;
margin:5%;
padding:2%;
}

img { height:70%; width:70%;   margin-left: auto;
  margin-right: auto; display: block; text-align: center;}

blockquote {
  width:75%;
  margin:25px auto;
  font-family:Open Sans;
  font-style:italic;

  font-size: 1.1em;
  line-height: 1.75;
  color: var(--font-color);

  background:#EfEfEf;

  padding:1.2em 1.4em 1.2em 1.4em;
  border-left:10px solid var(--header-anchor-color) ;
  position: relative;
  
}

blockquote::after{
  content: '';
}

pre, code {background-color: #444; color: #fff; font-family: Verdana; padding: 10px; line-height: 1.75;}
div.backButton{
  position:fixed; 
  top:80%;
  right: 5%;
}

h2, h3 {
    padding-bottom: .3em;
    border-bottom: 3px solid rgba(0, 0, 0, .3);}

h2::after, h3::after {
    content: "#";
    position: relative;
    top: 0em;
    left: 0.5em;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}
h2::after {font-size: 1.4em;}
h3::after {font-size: 1.2em;}

h2:hover::after, h3:hover::after {
    visibility: visible;
    opacity: 1;
}
