---
layout: default
title: Strikingloo's Blog
is_blog: true
---
	<h1>Blog</h1>
	<p>To see all the articles in list format, visit <a href="/archive">the Archives</a>. </p>
	<div style='text-align: center;'>
	<h2>Recent Articles</h2>
	<ul class="posts">
	  {% for post in site.posts limit: 10 %}
	  {% if post.sitemap %}
<li class='post-item' style='text-align: center;'><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <br/> <span><i>{{ post.date | date_to_string }}</i></span>
<br/><p><i>{{ post.description }}</i></p>
</li>
	    {% endif %}
	  {% endfor %}
	</ul>
</div>
	<script>
			const windowWidth = window.innerWidth;
			const maxDeviceWidth = 1024;
			if (windowWidth > maxDeviceWidth) {
			  var wiki_list = document.querySelectorAll('.post-item');
			  for (var wiki_item of wiki_list) {
			    wiki_item.style.width="45%";
			    wiki_item.style.height="18em";
			  }
			}
	</script>
