<!DOCTYPE html>
	<html>
		<head>
		<link rel="icon" type="image/png" href="/potted-plant-icon.png"/>
            <title>{{ page.title }}</title>
			<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-52642322-5"></script>
<script type="text/javascript" charset="utf-8" 
src="https://vincenttam.github.io/javascripts/MathJaxLocal.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-52642322-5');
</script>
            <!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
        <script src="https://kit.fontawesome.com/695103c91f.js" crossorigin="anonymous"></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resources/Luciano_Strika.pdf">CV</a></li>
	        		<li><a href="/wiki">Digital Garden</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="https://www.medium.com/@StrikingLoo">Other Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:lucianostrika44@gmail.com" rel="me"><i class="far fa-envelope"></i></a></li>
	        		<li><a href="https://github.com/strikingloo" rel="me"><i class="fab fa-github"></i></a></li>
			        <li><a href="http://twitter.com/strikingloo" rel="me"><i class="fab fa-twitter"></i></a></li>
			        <li><a href="http://dev.to/strikingloo" rel="me"><i class="fab fa-dev"></i></a></li>
			        <li><a href="http://www.linkedin.com/in/luciano-strika" rel="me"><i class="fab fa-linkedin"></i></a></li>
				<li><a href="https://www.medium.com/@StrikingLoo" rel="me"> <i class="fab fa-medium"></i> </a></li>
				</ul>
			 <a href="https://xn--sr8hvo.ws/%F0%9F%8C%83%F0%9F%9A%92%E2%86%94%EF%B8%8F/previous">←</a>
  An IndieWeb Webring 🕸💍
  <a href="https://xn--sr8hvo.ws/%F0%9F%8C%83%F0%9F%9A%92%E2%86%94%EF%B8%8F/next">→</a>
			</footer>
		</body>
	</html>
