<!DOCTYPE html>
	<html lang="en">
		<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/png" href="/potted-plant-icon.png"/>
            <title>{{ page.title }}</title>
			
            <!-- link rel="preconnect" href="https://fonts.googleapis.com"-->
			<!-- link rel="preconnect" href="https://fonts.gstatic.com" crossorigin -->
            <!-- link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet"-->
			<link rel="stylesheet" type="text/css" href="/css/main-min.css">
        	<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-52642322-5"></script>

			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());

			  gtag('config', 'UA-52642322-5');
			</script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resources/Luciano_Strika.pdf">CV</a></li>
	        		<li><a href="/wiki">Digital Garden</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="https://www.medium.com/@StrikingLoo">Other Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:lucianostrika44@gmail.com" rel="me"><i class="far fa-envelope"></i></a></li>
	        		<li><a href="https://github.com/strikingloo" rel="me"><i class="fab fa-github"></i></a></li>
			        <li><a href="http://twitter.com/strikingloo" rel="me"><i class="fab fa-twitter"></i></a></li>
			        <li><a href="http://dev.to/strikingloo" rel="me"><i class="fab fa-dev"></i></a></li>
			        <li><a href="http://www.linkedin.com/in/luciano-strika" rel="me"><i class="fab fa-linkedin"></i></a></li>
				<li><a href="https://www.medium.com/@StrikingLoo" rel="me"> <i class="fab fa-medium"></i> </a></li>
				</ul>
			 <a href="https://xn--sr8hvo.ws/%F0%9F%8C%83%F0%9F%9A%92%E2%86%94%EF%B8%8F/previous">←</a>
  An IndieWeb Webring 🕸💍
  <a href="https://xn--sr8hvo.ws/%F0%9F%8C%83%F0%9F%9A%92%E2%86%94%EF%B8%8F/next">→</a><br>
				Built with ❤️ by <a href="https://strikingloo.github.io/">Strikingloo</a>.
			</footer>
			
			<script defer src="https://kit.fontawesome.com/695103c91f.js" crossorigin="anonymous"></script>
			{% if page.uses_mathjax %}
			<script defer src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
			{% endif %}
		</body>
	</html>
