---
layout: default
---

<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }} - importance: {{ page.importance }} </p>
{% if page.note_category == 'book-notes' %}
<p><i>These are my notes and review for this book. For other reading notes see <a href="/tagged/?q=book">tag: books</a></i><p>
{% endif %}

{% if page.abstract.size > 0 %}
<p class="abstract"> {{ page.abstract }}</p>
<hr/>
{% endif %}

<div class="post">
  {{ content | toc }}
</div>

<template id="post-delayed-content">
<div class="backButton">
<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url=https://strikingloo.github.io{{ page.url }}%2F%3Futm_source%3Dtwitter%26utm_medium%3Dsocial&via=strikingLoo" id='tweetThis'>[<img src='/resources/twitter.png' class='footer-img' loading="lazy"></img>]</a>
<br/>
<a href="/wiki/navigation-guide?utm_medium=tocButton" id='tocButton'>[<img src='/resources/sign.png' class='footer-img' loading="lazy"></img>]</a>
<br/>
<a href="/wiki?utm_medium=backButton" id='backToWiki'>[←]</a>
</div>
</template>

<script>
const headings = document.querySelectorAll('h2[id],h3[id]');
for (var heading of headings) {
    heading.innerHTML = `<a href=#${heading.id}>${heading.innerHTML}</a>`;
    heading.appendChild(document.createElement('hr'))
}

function renderBottomButtons(){
  const templateNode = document.getElementById('post-delayed-content')
  const templateContentClone = templateNode.content.cloneNode(true) // perform a deep copy
  document.body.appendChild(templateContentClone)
}

function scrollEventHandler(){
 const scrollOffset = window.pageYOffset
 const browserViewHeight = window.innerHeight
 if (scrollOffset > browserViewHeight/3) {
    console.log('done')
    renderBottomButtons();
    window.removeEventListener('scroll', scrollEventHandler)
 }

}

window.addEventListener('scroll', scrollEventHandler)

</script>
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@StrikingLoo" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ page.description }}" />
{% if page.twitter_image.size > 0 %}
<meta name="twitter:image:src" content="{{ page.twitter_image }}" />
{% else %}
<meta name="twitter:image:src" content="https://strikingloo.github.io/resources/book-tw.jpg" />
{% endif %}